header{
    overflow: hidden;
    background-color: navy;
    border-color: darkblue;
    border-style: solid;
    color: powderblue;
}
header nav {
    display: inline-block;
}
header nav ul{
    display: flex;
    flex-direction: row;
}