header{
    overflow: hidden;
    background-color: navy;
    border-color: darkblue;
    border-style: solid;
    color: powderblue;
}
header a {
    color: white;
}
header nav {
    display: inline-block;
}