footer{
    overflow: hidden;
    background-color: rgba(0,0,128,0.75);
    border-color: darkblue;
    border-style: solid;
    color: powderblue;
}
.flex{
    display: flex;
}
footer div>div{
    margin-right: 30px;
}